.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center-content {
  justify-content: center;
  align-items: center;
}

.clickable {
  &:hover { cursor: pointer; }
  &:hover, :focus { filter: brightness(0.90); }
  &:active { filter: brightness(1.10); }
}