// Colors
  // Dark Palette
  $palette-dark-primary: #333333;
  $palette-dark-secondary: #4D4D4D;
  $palette-dark-tertiary: #E6E6E6;
  $palette-dark-tertiary-lighter: #F7F7F7;
  $palette-dark-border: #000000;
  $palette-dark-text-primary: #FFFFFF;
  $palette-dark-text-secondary: #FFFFFF;
  $palette-dark-text-tertiary: #000000;
  $palette-dark-error: #DD0000;
  $palette-dark-graph: #007FFF;

  // Chess Board Palette
  $palette-chessboard-primary: #F9D19D;
  $palette-chessboard-secondary: #D18C47;
  $palette-chessboard-piece-selected: #D5E8D4;
  $palette-chessboard-capture: #FF6666;
  $palette-chessboard-last-move: #FFFF99;

// Sizes
$size-chessboard: 32vw;
$size-chessboard-cell: calc($size-chessboard / 8);
$size-nav-bar: 10rem;
$size-button: 3rem;
$size-icon: 2rem;
$size-border: 0.1rem;
$size-button-border-radius: 0.5rem;
$size-form-border-radius: 2rem;
$size-margin: 0.5rem;
$size-padding: 0.5rem;

// Borders
$border-palette-dark: $size-border solid $palette-dark-border;
$border-heavy-palette-dark: $size-border * 2 solid $palette-dark-border;
